//* color
$primary-blue: #1570ff;
$primary-red: #e22f46;
$primary-yellow: #ffc645;
$primary-green: #14b569;
$primary-gray: #999999;
$primary-black: #2a2a2a;

$bold-blue: #3534a5;

$light-gray: #f7f7f7;
$normal-gray: #dce3e8;
//* font
